<!doctype html>

<!-- Application -->
<html lang="en">
  <head>

    <!-- Page Basic Config -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Webpage Stuff -->
    <title ng-bind="pageTitle"></title>
    <meta name="description" content="Adalberto Kutuxidise">
    <meta name="author" content="Adalberto Kutuxidis">

    <!-- Angular.js Libraries -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <!-- Angular Material Library -->
    <script src="bower_components/angular-material/angular-material.min.js"></script>

    <!-- Project Libraries / Module-->
    <script src="app/app.module.js"></script>

    <!-- Project Libraries / Providers-->
    <script src="app/topbar/topbar.provider.js"></script>
    <script src="app/gallery-list/gallery-list.provider.js"></script>
    <script src="app/gallery-post/gallery-post.provider.js"></script>

    <!-- Project Libraries / Controllers-->
    <script src="app/topbar/topbar.controller.js"></script>
    <script src="app/gallery-list/gallery-list.controller.js"></script>
    <script src="app/gallery-post/gallery-post.controller.js"></script>

    <!-- Project Libraries / Configuration -->
    <script src="app/app.config.js"></script>

    <!-- Angular Material Style Sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">

    <!-- Project Style Sheet -->
    <link rel="stylesheet" href="app/style.css">

  </head>
  <body layout="column" ng-cloak>

    <header ng-controller="TopBarCtrl">

      <!-- TopBar Declaration -->
      <md-toolbar class="md-padding" layout="row" flex>
        <h2 ng-bind="pageOwner"></h2>
        <div layout="row" layout-align="end center" flex>
          <div ng-repeat="item in linkList" >
            <a class="png-icon" ng-href="{{item.href}}">
              <img ng-src="{{item.imgSrc}}" />
            </a>
          </div>
        </div>
      </md-toolbar>

      <!-- Navigation TopBar Declaration -->
      <nav flex>
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
          <md-nav-item
            ng-repeat="item in navList"
            md-nav-href="{{item.href}}"
            name="{{item.name}}">{{item.title}}
          </md-nav-item>
        </md-nav-bar>
      </nav>
    </header>

    <!-- View Declaration -->
    <section ng-view style="overflow: auto;" flex></section>

    <footer layout="row" layout-align="center center">
      <p>© Copyright {{currentYear}} {{pageOwner}}. All rights reserved.</p>
    </footer>
  </body>
</html>