<div ng-repeat="rows in homeList" layout-gt-sm="row" layout="column" class="md-margin">
  <md-card ng-repeat="item in rows" layout="column" flex>
    <img ng-src="{{item.imgSrc}}" class="md-card-image" alt="{{item.imgName}}"/>
    <md-card-title layout="column" flex>
      <md-card-title-text>
        <span class="md-headline">{{item.title}}</span>
      </md-card-title-text>
      <md-card-content ng-bind-html="item.content | renderHTMLCorrectly" flex></md-card-content>
    </md-card-title>
    <div layout="row" layout-align="center start">
      <div flex class="md-padding">
        <span class="md-subhead" flex>{{item.date}}</span>
      </div>
      <md-card-actions layout="row" layout-align="end center" flex>
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </md-card-actions>
    </div>
  </md-card>
</div>