<div class="home-line md-padding" ng-repeat="rows in homeList" layout-gt-sm="row" layout="column">
  <md-card class="card" ng-repeat="item in rows" ng-click="goToPage(item.id)" layout="column" flex>
    <div style="background: url('{{item.imgSrc}}') no-repeat;
      background-position: center center; background-size: cover; min-height: 300px; border-radius: 0px 0px 0px 0px;"
      flex="none">
      <md-card-title class="home-box-title">
        <md-card-title-text layout="column">
          <span class="md-headline">{{item.title}}</span>
          <span class="md-subhead">{{item.date}}</span>
        </md-card-title-text>
      </md-card-title>
    </div>
    <md-card-content ng-bind-html="item.content | renderHTMLCorrectly" flex></md-card-content>
    <!--
    <md-card-actions layout="row" layout-align="end start" flex="none">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
    -->
  </md-card>
</div>