<div layout-gt-md="row" layout="column">
  <div class="gallery-post md-margin" layout="column" flex-gt-md="65">
    <div class="box-title" layout="row" flex="none">
      <span class="md-headline" flex>{{post.title}}</span>
      <span class="md-subhead">{{post.date}}</span>
    </div>
    <div style="background: url('{{post.imgSrc}}') no-repeat;
      background-position: center center; background-size: cover; min-height: 480px;
      border-radius: 0px 0px 0px 0px;"
      flex="none">
    </div>
    <md-content class="md-padding" ng-bind-html="post.content | renderHTMLCorrectly" flex></md-content>
  </div>
  <div class="gallery-links" layout="column" flex-gt-md="35">
    <div flex="none">
      <div class="box-title" layout="column" flex="none">
        <span class="md-headline" flex>Relevant Links</span>
      </div>
      <md-list flex="none">
        <md-subheader>Projects</md-subheader>
        <md-list-item class="md-3-line" ng-click="null"
          ng-repeat="item in post.relevantLinks">
          <div style="background: url('{{item.imgSrc}}') no-repeat;
            background-position: center center; background-size: cover; min-height: 90px; min-width: 180px;
            border-radius: 0px 0px 0px 0px;"
            flex="none">
          </div>
          <div class="md-list-item-text md-padding" layout="column" flex="none">
            <h3>{{item.title}}</h3>
            <h4>{{item.date}}</h4>
            <p ng-bind-html="item.content | renderHTMLCorrectly"></p>
          </div>
        </md-list-item>
      </md-list>
      <md-list flex="none">
        <md-subheader>External Contents</md-subheader>
        <md-list-item class="md-3-line" ng-click="null"
          ng-repeat="item in post.relevantLinks">
          <div style="background: url('{{item.imgSrc}}') no-repeat;
            background-position: center center; background-size: cover; min-height: 90px; min-width: 180px;
            border-radius: 0px 0px 0px 0px;"
            flex="none">
          </div>
          <div class="md-list-item-text md-padding" layout="column" flex="none">
            <h3>{{item.title}}</h3>
            <h4>{{item.date}}</h4>
            <p ng-bind-html="item.content | renderHTMLCorrectly"></p>
          </div>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>