/*
General
*/
nav {
    margin-top: -1px;
}

/*
Gallery - Line
*/
.gallery-line {
    background-color: rgba(0, 0, 0, 0.12);
    margin: 0px 0px 0px -1px;
    padding: 0px 0px 1px 0px;
}

.gallery-line .card {
    box-shadow: none;
    margin: 0px 0px 0px 1px;
    padding: 16px;
    border-radius: 0.5px;
}

.gallery-line .card:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.gallery-line .card .home-box-title {
    padding: 0px;
    margin: -4px 0px 0px -4px;
}

.gallery-line .card .home-box-title md-card-title-text {
    background-color: rgb(68, 138, 255);
    display: inline-table;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.gallery-line .card .home-box-title md-card-title-text span {
    display: block;
    color: #FFF;
}

.gallery-line .card .home-box-title md-card-title-text .md-subhead {
    padding: 0px;
}

.gallery-line .card.hide{
    display: none;
}

/*
Gallery - Post
*/
.gallery-post {
    margin: 12px 12px 0px 12px;
}

.gallery-post .box-title {
    background-color: rgb(68, 138, 255);

    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}

.gallery-post .box-title span {
    display: block;
    color: #FFF;
}

.gallery-post .box-title .md-subhead {
    padding: 0px;
}

/*
Gallery - Links
*/
.gallery-links {
    margin: 12px 12px 0px 0px;
}

.gallery-links .box-title {
    background-color: rgb(68, 138, 255);

    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}

.gallery-links .box-title span {
    display: block;
    color: #FFF;
}

.gallery-links .box-title .md-subhead {
    padding: 0px;
}