/*
General
*/
nav {
    margin-top: -1px;
}

.png-icon {
    margin-left: 12px;
}

.png-icon img {
    width: 40px;
    border-radius: 100px;
}

footer {
    height: 30px;
    background-color: black;
    color: rgba(255,255,255,0.87);
    font-size: 14px;
}

/*
Gallery - Line
*/
.gallery-line {
    background-color: rgba(0, 0, 0, 0.12);
    margin: 0px 0px 0px -1px;
    padding: 0px 0px 1px 0px;
}

.gallery-line .card {
    box-shadow: none;
    margin: 0px 0px 0px 1px;
    padding: 16px;
    border-radius: 0.5px;
}

.gallery-line .card:hover {
    background-color: rgb(240, 240, 240);
    cursor: pointer;
}

.gallery-line .card .home-box-title {
    padding: 0px;
    margin: -4px 0px 0px -4px;
}

.gallery-line .card .home-box-title md-card-title-text {
    background-color: rgb(68, 138, 255);
    display: inline-table;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.gallery-line .card .home-box-title md-card-title-text span {
    display: block;
    color: #FFF;
}

.gallery-line .card .home-box-title md-card-title-text .md-subhead {
    padding: 0px;
}

.gallery-line .card.hide{
    display: none;
}

/*
Gallery - Post
*/
.gallery-post {
    margin: 12px 12px 0px 12px;
}

.gallery-post .box-title {
    background-color: rgb(68, 138, 255);

    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}

.gallery-post .box-title span {
    display: block;
    color: #FFF;
}

.gallery-post .box-title .md-subhead {
    padding: 5px 0px 0px 0px;
}

/*
Gallery - Links
*/
.gallery-links {
    margin: 12px 12px 0px 12px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.12);
}

.gallery-links .box-title {
    background-color: rgb(68, 138, 255);
    border-radius: 0px 0px 0px 0px;
    padding: 10px;
}

.gallery-links .box-title span {
    display: block;
    color: #FFF;
}

.gallery-links md-list {
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

.gallery-links md-list .md-subheader-inner {
    padding: 16px 0px 0px 16px;
    margin: 0px;
    font-size: 14px;
    color: rgb(68, 138, 255);
    text-transform: uppercase;
}

.gallery-links md-list md-list-item {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 1px 0px;
    background-color: rgba(255, 255, 255, 1);
}

.gallery-links md-list md-list-item md-divider {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.gallery-links md-list md-list-item .md-button {
    padding: 0px 0px 0px 16px !important;
    margin: 0px;
}

.gallery-links md-list md-list-item .md-button .md-list-item-inner {
    padding: 16px 0px 16px 0px;
    margin: 0px;
}

.gallery-links md-list md-list-item .md-button .md-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

.gallery-links md-list md-list-item .md-button .md-padding h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
}

.gallery-links md-list md-list-item .md-button .md-padding h4 {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
}

.gallery-links md-list md-list-item .md-button .md-padding p {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    margin: 2px 0px 0px 0px;
}